<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/cssbootStraps') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
      <div style="text-align: center">
        <img src="/<%= blog.blogImage %>" alt="error" style="width: 500px" />
      </div>
      <pre style="overflow-x: hidden">
        <%= blog.body %>
      </pre>
      <div> <span>This post has created by: </span><%= blog.createdBy.email %> </div>
      <h1>Comment (<%= comments.length %>)</h1>
      <% if (locals.user) { %>
      <form action="/comment/<%= blog._id %>" method="post">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="comment..."
            name="comment"
          />
          <button class="btn btn-primary mt-2">Comment now...</button>
        </div>
      </form>
      <% } %>
      <ul style="list-style-type: none;" >
        <% comments.forEach(data => { %>
          <li style="border: 1px solid black"><%= data.comment %> </li> 
          Creator:<span style="border: 2px solid red;"><%= data.createdBy.email %></span>
          <% }) %>
      </ul>
    </div>
    <%- include('./partials/jsbootStraps') %>
  </body>
</html>
